#col{
    background-color: rgb(239, 231, 220);
}
#col2{
    background-color: rgba(48, 1, 1, 0.999);
    color: aliceblue;
    text-align: center;
    font-family:"Edu AU VIC WA NT Pre", cursive;
}
#col3{
    text-align: center;
    background-color: rgb(119, 77, 48);
   font-family:"Edu AU VIC WA NT Pre", cursive ;
   color:burlywood;
    padding: 1%;
      }

 #col4:hover {
    background-color:rgba(186, 181, 174, 0.678);
}
#col5:hover {
    background-color:rgba(227, 208, 185, 0.63);
}
#col6:hover {
    background-color:rgba(227, 208, 185, 0.637);
}
#dov{
    background-color:rgb(245, 222, 204);
    text-align: center; 
    font-family:"Edu AU VIC WA NT Pre", cursive;
    color: rgb(99, 57, 3);
    height: 400px;
}
#dov1{
    color: rgba(145, 93, 25, 0.485);
    font-size:small;
}
.blod{
    color:rgb(75, 0, 0); 
    font-family:"Edu AU VIC WA NT Pre", cursive;
}
.div22{
    color: rgba(75, 0, 0, 0.982);
    font-family:"Edu AU VIC WA NT Pre", cursive;
}
a{
    text-decoration-line: none;
    color:rgb(244, 203, 153) ;
}
.r12{
    color: rgba(152, 99, 0, 0.523);
    font-family:"Edu AU VIC WA NT Pre", cursive;

}
.r12:hover{
    background-color: rgb(123, 255, 0);
    text-decoration: underline;
}
.r13{
    color: rgba(152, 99, 0, 0.523);
    font-family:"Edu AU VIC WA NT Pre", cursive;

}
.r13:hover{
    background-color: rgb(255, 234, 0);
    text-decoration: underline;
}
fieldset{
   border-color: rgba(250, 235, 215, 0.412);
}
ol li{
    font-family:"Edu AU VIC WA NT Pre", cursive;
    color: rgba(99, 57, 3, 0.542);

}
.img{
     background-image: url(dessert-7115585_640.jpg);
     height: 300px;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size:cover;
     
}
.h11{
    text-align: center;
    color: rgb(239, 230, 218);
    padding-top: 50px;
    font-family:"Edu AU VIC WA NT Pre", cursive;
}
.h13{
    font-family:"Edu AU VIC WA NT Pre", cursive;
    color:rgb(171, 119, 67);
    text-align: center;
  
}
.h15{
    background-color:rgb(255, 226, 190) ;
}
.h14{
    background-color:  rgb(111, 73, 46);
    font-family:"Edu AU VIC WA NT Pre", cursive;
    text-align: center;
    color: rgb(213, 150, 72);
    height: 40px;
    padding: 7px;
}